@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #282828;
  --primary: #276387;
  --secondary: #1c1c1e;
  --accent: #ff4081;
  --muted: #f0f0f0;
  --info: #00aaf3;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--primary);
  --color-destructive: var(--accent);
  --color-secondary: var(--secondary);
  --color-info: var(--info);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

html,
body {
  display: relative;
  scrollbar-gutter: stable;
}

body[style] {
  height: 100%;
  width: 100%;
  margin: 0 auto !important;
  scrollbar-gutter: stable;
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #282828;
  }

  .dark {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  * {
    @apply box-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

canvas {
  outline: none;
}
